; This file is read by the sqlalchemy's pytest plugin

[sqla_testing]
requirement_cls=sqlalchemy_monetdb.requirements:Requirements
profile_file=test/profiles.txt

[db]
default=monetdb://monetdb:monetdb@localhost:50000/test
